/* The side panel for the server and home buttons*/
.classes { 
    height: 100%;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(6, 8, 12);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .homeButton {
    background-color: DodgerBlue;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    color: white;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
  }

  /*Side panel for the chatroom */
  .rooms {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 90px;
    background-color: rgb(53, 68, 99);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .chatroom {
    font: 15px arial, sans-serif;
    background-color: white;
    border-style: solid;
    margin-left: 275px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 50px;
  }

  #chatborder {
    border-style: solid;
    background-color: #f6f9f6;
    border-width: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 600px;
    max-width: 97%;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
  }

  .modal {
  display: block; 
  position: fixed; 
  z-index: 2; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 10%;
}

.close {
  margin-left: auto;
  margin-right: 0%;
}

  #textLine {
    margin: 2%;
    display: flex;
    flex-direction: row;
  }
  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 87%;
  }

  #send {
    height: 28px;
    width: 13%;
    font-size: 16px;
    color: #f6f9f6;
    background-color: blue;
  }
  
  #chatroomHeader {
      width: auto;
      height: 20px;
      margin-left: 45%;
      margin-top: 15px;
      font-size: 30px;
  }
  
  .serverButton {
      display: block;
      height: 45px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      font-size: 14px;
      border-radius: 40%;
  }
  
  .roomButton {
      display: block;
      border: none;
      background: none;
      color:lightslategray;
      font-size: 15px;
      font-style: italic;
      margin-left: auto;
      margin-right: auto;
      margin-top: 7px;
      transition-duration: .4s;
  }
  
  .roomButton:hover {
      color: #f6f9f6;
  }
  
#sideBar
{
    border-style:solid;
    border-color:black;
    width:100px;
    
}

#calendar
{
    flex-grow:.93;

}

#calendarLink:hover
{
    text-decoration:underline;
}

#todoListLink:hover
{
    text-decoration:underline;
}


#todolist
{
    flex-grow:.93;
}

.mainContainer
{
    display:flex;
    flex-direction:row;
}

#homepage
{
  margin-left: 6%;
    height:100%;
    width:100%;
}
