
#todolist {
    background: rgb(35, 28, 165);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.header-container {
    border-style: solid;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.header-container:hover {
    background-color: rgba(196, 31, 196, 0.747);
}

.title {
    font-size: 68px;
    color: white;
}

.body {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 15%;
}

.form {
    display: flex;
    align-content: center;
}

#todo {
    height: 2em;
    border-color: white;
    border-radius: 3px;
}

.todo {
    background-color: white;
    display: flex;
    border-radius: 3px;
}
li {
    list-style-type: none;
    padding-left: 5px;
}

.complete {
    background-color: rgb(59, 224, 59);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 10%;
}

.completed {
    text-decoration: line-through;
}

.delete {
    justify-self: flex-end;
    margin-left: auto;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 10%;
    background-color: red;
}

.project-headers {
    display: flex;
}

.project-buttons {
    order: 99;
}

#project-form, #todo-form { 
    text-align: center;  
    display: none;
    justify-content: center;
}

#formcontent, #formcontent1 {
    border: 2px solid;
    width: 300px;
    height: 400px;
    margin: auto;
    position: absolute;
    background-color: black;
}

#close, #close1 {
    text-align: left;
    color: red;
    font-size: 36px;
    line-height: 1;
}

#Name, #Description, #Due, #Completed {
    color: black;
    font-weight: bold;
    padding-top: 10px;
    font-size: 24px;
    height: 35px;
    width: 176px;
}
.submit {
    margin: auto;
    width: 50%;
    margin-top: 25px;
}

.label {
    color: white;
}

.button2 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: rgba(35, 28, 165, 0)
}
.button2:hover{
    color:#000000;
    background-color: #FFFFFF;
}
.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

@media all and (max-width:30em){
.button2{
    display:block;
    margin:0.4em auto;
    }
} 

.complete, .delete {
    border-radius:3px;
	border:1px solid #0b0e07;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.complete:hover, .delete:focus, .complete:focus, .delete:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

.complete:active, .delete:active {
    top: .1em;
}

.edit:hover {
    filter: invert(63%) sepia(2%) saturate(2%) hue-rotate(324deg) brightness(98%) contrast(80%);
}
